.Sidebar {
    flex: 1;
    /* height: calc(100vh - 50px); */
    height: 50px;
    background-color: #459bf1b2;
    position: sticky;
    top: 50px;
}


/* Topbar */
@import '~antd/dist/antd.css';

.topbar {
    width: 100%;
    height: 60px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper {
    height: 90%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: #109CF1;
}

.topRight {
    display: flex;
    align-items: center;
}

.topbarIconsContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #109CF1;
    size: 0mm;
}

.topIconBadge {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar {
    width: 37px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}

/* header */
/* .HeaderBlock{
    background: url('Document.jpg') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  background-position-y: center ;
  backface-visibility: unset;
  height: 30vh;
  opacity: 70%;
} */


.HeaderBlock h1 {
    font-size: 50px;
    line-height: 1.2;
    margin: 0 0 30px;
    padding-left: 10%;
    padding-top: 5%;
    opacity: 100%;
    text-decoration-line: overline;
    color: #000000;
  }

  
.HeaderBlock h4 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 30px;
    padding-right: 10%;
    padding-top: 5%;
    opacity: 100%;
    color: #000000;
    background-position-x: left;
  }
.container{
    align-content: center;
    background-position-x: left;
}

/* Cards */
.site-card-wrapper{
    margin: 0 0 30px;
    color: #109CF1;
    padding-left: 10%;
    padding-right: 10%;
}

.WidgetLg{
    flex:2;
    -webkit-box-shadow: 1px -4px 11px -4px #000000; 
    box-shadow: 1px 1px 2px 1px #c0bdbd;
    padding: 20px;
}
