/* 
general 
-------
*/


.Sidebar{
  position: 'fixed';
  background-color: #ffffff;
  
}
.content{
 padding-left: 30px;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
 
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/* 
title holder
------------
*/
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: '';
  background: #1890ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

/* 
header
------ 
*/
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
/* 
.head {
  display:block;
  justify-content:space-around;
  align-items: center;
  padding: 15px 0;
  background: url('background.jpg') no-repeat;
} */
.head {
  background: url('background_header.jpg') no-repeat;
  background-position: 100% 100%;
  background-size:cover;
  padding-left: 100px;
  width:200vh;
  height: 30vh;
  
}
/* .headerH1{
 padding-left: 300px;
} */
/* .HeaderMain{
  flex-wrap: initial;
} */
.dashboard{
  
}

.homeWidgets{
  display: flex;
  margin: 20px;
  flex: 10;
}

.header .logo {
  font-size: 22px;
  font-weight: 400;
}

.header .logo .fas {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header .logo a {
  color: #333;
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}

/* 
hero
---- 
*/
.heroBlock {
  background: url('background.jpg') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
  /* width: 10vh; */
}

.heroBlock .container-fluid {
  display: block !important;
}

.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
  height: 100%;
}

.heroBlock .slick-dots li button {
  background: #000 !important;
}

.heroBlock .slick-dots li.slick-active button {
  background: #1890ff !important;
}

.heroBlock .content {
  
  max-width: 100px;
  display: flex;
  flex-direction:row;
  justify-content:left;
  padding: 0 0 70px;
  padding-left: 800px;
  padding-top: 70px;
}

.heroBlock h3 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock p {
  margin: 0 0 30px;
  font-size: 80px;
  font-weight:bold;
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Gentium Plus', serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
}

.heroBlock .btnHolder {
  height: auto !important;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

/* 
block
----- 
*/
.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;
}

/* 
about
----- 
*/
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 0 50px;
}

.aboutBlock .icon {
  font-size: 40px;
  color: #1890ff;
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}

/* 
how it works
------------
*/
.worksBlock {
  /* background: url('assets/images/bg-works.jpg') no-repeat; */
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.worksBlock:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worksBlock h2 {
  color: #fff;
}

.worksBlock .contentHolder {
  text-align: center;
}

.worksBlock .contentHolder button {
  font-size: 40px;
  line-height: 1;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/* 
faqs
----
*/
.faqBlock .ant-collapse {
  margin: 0 0 40px;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 740px;
  margin: auto;
}

.faqBlock .fas {
  margin: 0 10px 0 0;
}

/* 
pricing block
-------------
*/
.pricingBlock .ant-list {
  text-align: center;
}

.pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
  box-shadow: 0 0 12px 2px #f3f3f3;
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.pricingBlock .ant-card-head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.pricingBlock .large {
  font-size: 38px;
  line-height: 1;
  margin: 0 0 20px;
}

.pricingBlock .fab {
  margin: 0 10px 0 0;
}

/* 
contact
-------
*/
.contactBlock .ant-form {
  max-width: 640px;
  margin: auto;
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
}

/* 
footer
------
*/
.ant-layout-footer {
  background: #111 !important;
  color: #fff !important;
  padding: 60px 0 !important;
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.footer .fas {
  color: #1890ff;
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: #fff;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #1890ff;
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

/* Features */
.card{
  background-color:#1890ff;
}

.WidgetTable{
  padding-left: 60px;
  padding-right: 60px;
}



/* Widget */
.WidgetLg{
  flex:2;
  -webkit-box-shadow: 1px -4px 11px -4px #000000; 
  box-shadow: 1px 1px 2px 1px #c0bdbd;
  padding: 20px;
}

.widgetLgTitle{
  font-size: 16px;
  font-weight: 600;
  padding: 5px 7px;
}

.widgetLgButton{
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}


.widgetLgButton.Done{
  background-color: #e5faf2;
  color: #3bb077;
}


.widgetLgButton.Pending{
  background-color: #ebf1fe;
  color: #2a7ade;

}

.widgetLgButton.Declined{
  background-color: #fff0f1;
  color: #d95087;

}

.widgetLgTable{
  width: 100%;
  border-spacing: 20px;
}

.widgetLgTr{
  align-items: center;
}

.widgetLgTable{
  align-items: center;
}

.widgetLgTh{
  text-align: left;
}

/* Dashboard css */
.WidgetLg{
  flex:2;
  -webkit-box-shadow: 1px -4px 11px -4px #000000; 
  box-shadow: 1px 1px 2px 1px #c0bdbd;
  padding: 20px;
}

.widgetLgTitle{
  font-size: 16px;
  font-weight: 600;
  padding: 5px 7px;
}

.widgetLgButton{
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}


.widgetLgButton.Done{
  background-color: #e5faf2;
  color: #3bb077;
}


.widgetLgButton.Pending{
  background-color: #ebf1fe;
  color: #2a7ade;

}

.widgetLgButton.Declined{
  background-color: #fff0f1;
  color: #d95087;

}

.widgetLgTable{
  width: 100%;
  border-spacing: 20px;
}

.widgetLgTr{
  align-items: center;
}

.widgetLgTable{
  align-items: center;
}

.widgetLgTh{
  text-align: left;
}

/* WidjetSmall */
.WidgetSm{
  flex: 1;
  -webkit-box-shadow: 1px -4px 11px -4px #000000; 
  box-shadow: 1px 1px 2px 1px #c0bdbd;
  padding: 20px;
  margin-right: 20px;
}

.widgetSmTitle{
  font-size: 15px;
  font-weight: 600;
}

.widgetSmImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.widgetSmList{
  margin: 0;
  padding: 0;
  list-style: none;
}

.widgetSmListItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.widgetSmName{
  font-weight: 600;
}

.widgetSmButton{
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}

.widgetSmIcon{
  font-size: 16px;
}