.Table{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;

}

.UserProf{
    padding-left: 60px;
    padding-top: 80px;
}

.saveButton{
    padding-left: 1090px;
}
.Form{
    padding-left: 20%;
    padding-top: 4%;
}