.Table{
    padding-left: 300px;
    padding-right: 30px;
    padding-top: 70px;
    /* background-image: url('https://images.pexels.com/photos/891059/pexels-photo-891059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */

}

.UserProf{
    padding-left: 60px;
    padding-top: 80px;
}

.saveButton{
    padding-left: 1090px;
}
.Form{
    padding-left: 20%;
    padding-top: 4%;
}

