img{
    width: 100%;
    height: 100%;
    border-radius: 15%;
  }
  
  .image-container{
  
    width: 15%;
    height: 15%;
  
  }
  
  .main-container {
    text-align: center;
    padding: 5%;
    background-image: url("../../images/background2.jpg");
    height: 760px;
  }

  .Cards{
    padding-left: 500px;
    padding-top: 100px;
  }

.Background{
  background-image: url('../../images/background.png') no-repeat;
}

.table{
  border-color: #000;
  border-style:inherit;
  padding-left: 1000px;
  size: 400%;
}